@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin absolute-pseudo-element($top: auto,  $left: auto, $bottom: auto, $right: auto) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin container {
  min-width: $mobile-width;
  width: auto;
  padding: 0 10px;

  @media #{$desktop-widths} {
  max-width: $desktop-width;
  margin: 0 auto;
  }
}

@mixin arrow-icon($top, $right, $size, $deg) {
    content: "";
    position: absolute;
    top: $top;
    right: $right;
    width: $size;
    height: $size;
    border-top: 2px solid $font-color;
    border-left: 2px solid $font-color;
    transform: rotate($deg);
}


