$main-color: #57c5a0;
$bg-color: #ebe7df;
$font-color: #242424;
$bg-secondary-color: $font-color;
$header-main-color: #ffffff;
$font-secondary-color: #7e7e7e;
$catalog-btns-color: #bcb5a7;
$catalog-btns-color-active: #898170;
$sale-color: $font-color;
$warning-color: #f27e4b;
$grey: #2e2e2e;

$font-size: 12px;

$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 960px;
$tablet-widths: "(min-width: #{$tablet-width})";
$desktop-widths: "(min-width: #{$desktop-width})";
$mobile-only: "(max-width: #{$tablet-width - 1px})";
