html {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  min-width: $mobile-width;

  font-weight: normal;
  font-family: "Aller", "Tahoma", sans-serif;
  line-height: 1.5;
  color: $font-color;


  background-color: $bg-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-content__inner {
  @include container;
}

.left {
  display: flex;
  margin-right: auto;
}

.right {
  display: flex;
  margin-left: auto;
}

@media #{$tablet-widths} {
  .column-half-width {
    width: 50%;
  }
}


