.banners {
  background-color: $bg-secondary-color;
}

.banners__inner {
  @include container;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-grow: 1;
  flex-basis: 150px;
  min-height: 180px;
  margin-bottom: 20px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:last-child {
    margin: 0;
  }

  &--sale {
    background-image: url(../img/bg__sale.jpg)
  }

  &--special {
    background-image: url(../img/bg__offers.jpg)
  }

  &--musthave {
    background-image: url(../img/bg__must-have.jpg)
  }
}

.banner__link {
  display: block;
  margin: auto;
  padding: 0 25px;

  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 60px;

  background-color: transparentize($bg-secondary-color, 0.1);

  &:hover {
    background-color: transparentize($bg-secondary-color, 0.3);
  }
}

@media #{$tablet-widths} {

  .banners__inner {
    flex-direction: row;
  }

  .banner {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .banner__link {
    padding: 0 10px;
    min-width: 130px;
    font-size: 1.8em;
  }
}

@media #{$desktop-widths} {
  .banner__link {
    min-width: 180px;
    font-size: 25px;
    padding: 0 25px;
  }
}
