.catalog-filters {
  color: white;
  background-color: #2e2e2e;

  & a {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.catalog-filters__inner {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-filters__title {
  font-size: 1.8rem;
  display: block;
}

.catalog-filters__list {
  @include list-reset;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.catalog-filters__filter {
  padding: 25px 0;
  position: relative;

  &:hover .catalog-filters__dropdown {
    display: block;
  }
}

.catalog-filters__filter > a {
  font-size: 1.5rem;
  line-height: 50px;
  padding-right: 30px;
  position: relative;

  text-align: center;

  &::after {
    @include absolute-pseudo-element(50%, auto, auto, 0);
    @include size(14px);
    margin-top: -7px;

    background-color: white;
    border-radius: 50%;
  }
}

.catalog-filters__dropdown {
  display: none;
  @include list-reset;
  font-size: 1.33rem;
  position: absolute;
  top: 100px;
  width: 220px;
  padding: 25px 0;
  z-index: 1000;

  background-color: #2e2e2e;
  border-top: 5px solid $bg-color;


  &::after {
    @include absolute-pseudo-element(-5px, 50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #2e2e2e;
    margin-left: -5px;
  }
}

.catalog-filters__options > a {
  padding: 0 15px;
  line-height: 30px;

  &:hover {
    background-color: $main-color;
  }
}

@media #{$tablet-widths} {

  .catalog-filters__title {
    width: 25%;
  }

  .catalog-filters__list {
    width: 75%;
  }

  .catalog-filters__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-filters__filter {
    padding: 25px 0;
  }

  .catalog-filters__filter > a {
    padding-right: 60px;

    &::after {
      right: 10px;
    }
  }
}


@media #{$desktop-widths} {

  .catalog-filters__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-filters__filter {
    padding: 25px 0;
  }

  .catalog-filters__filter > a {
    min-width: 160px;
    padding-right: 60px;

    &::after {
      right: 20px;
    }
  }
}
