.logo {
  display: block;
  padding: 10px 0;

  color: $main-color;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;

  & h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
  }
}
