.product-card {
  flex-basis: 300px;
  min-height: 270px;
  margin-bottom: 20px;
  position: relative;

  background-color: white;

  &--sale::after {
    @include absolute-pseudo-element(0, auto, auto, 10px);
    content: "On sale!";
    @include size(68px);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    background-color: $sale-color;
  }

  &--out::after {
    @include absolute-pseudo-element(0, auto, auto, 10px);
    content: "Out of \A stock";
    @include size(68px);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    background-color: $warning-color;
  }
}

.product-card__img {
  display: flex;
  height: 220px;

  & img {
    margin: auto;
  }
}

.product-card__caption {
  display: flex;
  padding: 10px;
  padding-left: 90px;

  position: relative;

  cursor: pointer;
  border-top: 1px solid #cccccc;

  &:hover .commerce-btns--product-card {
    display: flex;
    align-items: center;
    z-index: 100;
  }

  & .price {
    position: absolute;
    left: 10px;
    bottom: 0;
  }
}

.product-card__title {
  margin: 0;

  font-size: 18px;
  text-transform: capitalize;
  line-height: 30px;
}


.commerce-btns--product-card {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 90px;
  display: none;
  background-color: white;

  & .btn--commerce {
    margin: auto;
  }
}


@media #{$tablet-widths} {
  .product-card {
    margin-right: 20px;

    &:nth-child(2n),
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 940px) and (max-width: 960px) {

  .product-card {
    margin-right: 10px;
    &:nth-child(2n) {
      margin-right: 10px;
    }
  }
}

@media #{$desktop-widths} {

  .product-card {
    &:nth-child(2n) {
      margin-right: 20px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
